
/* ------------------------------------------------------------------------------
	Horizontal Scrolling Box
-------------------------------------------------------------------------------*/
/* See https://codeburst.io/how-to-create-horizontal-scrolling-containers-d8069651e9c6 */

#scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    /* height: 90%; */
    padding: 6vh;
}

#scrolling-wrapper>.card {
    display: inline-block;
    height: 100%;
    margin: auto;
}

/* ------------------------------------------------------------------------------
	Images
-------------------------------------------------------------------------------*/
img {
    width: auto;
    height: 500px;
    margin: auto;
    padding: 5px;
    /* vertical-align: middle; */
}

/* ------------------------------------------------------------------------------
	Footer
-------------------------------------------------------------------------------*/
.footer {
    color: black;
    font-size: 24px;
    position: fixed;
    left: 12px;
    bottom: 12px;
}

.footer a {
    text-decoration: none;
}

/* Add media queries for responsiveness - when the screen is less than a certain height, force BACK button to go below image */
@media screen and (max-height: 640px) {
    .footer {
        position: relative;
    }
  }

/* ------------------------------------------------------------------------------
	Image viewer
-------------------------------------------------------------------------------*/

/* The Modal (background) */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 5vh;
    /* This somehow made the gap on the bottom disappear */
    /* padding-bottom: 0px;  */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }

  /* Modal Content */

  #modal-content {
    position: relative;
    margin: auto;
    /* padding-top: 0;
    padding-bottom: 0px; */
    /* width: 85%;
    height: 100%; */
    /* height: auto; */
  }

  /* The Close Button */

  .close {
    color: white;
    position: fixed;
    top: 10px;
    right: 15px;
    font-size: 35px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }

  .mySlides {
    display: none;
  }

  /* ADDED */
  .mySlides img {
    /* vh is % of viewport height */
    height: 88vh;
    display: block;
    margin: auto;
  }

  /* ADDED */
  /* Add media queries for responsiveness - when height > width, restrict max height */
  @media screen and (orientation: portrait) {
    .mySlides img {
      /* vh is % of viewport height */
      max-width: 90%;
      height: auto;
    }
  }

  .cursor {
    cursor: pointer
  }

  /* Next & previous buttons */

  .prev,
  .next {
    cursor: pointer;
    position: fixed;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }

  /* Position the "next button" to the right */

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */

  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  /* img {
    margin-bottom: -4px;
  } */

  .caption-container {
    /* text-align: center; */
    background-color: black;
    padding-left: 16px;
    padding-bottom: 16px;
    color:#999;
  }

  /* ADDED */
  /* .caption-container>.caption {
      color: white;
  } */

  /* .demo {
    opacity: 0.6;
  }

  .active,
  .demo:hover {
    opacity: 1;
  } */

  /* img.hover-shadow {
    transition: 0.3s
  } */
/*
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  } */
